extends layout
block content
    h1=title
    p  This is the dashboard
    
	
    h2 User Information
    p First Name: #{user.firstName}
    p Last Name: #{user.lastName}
    p Username: #{user.userName}
