#listCont {
    height:325px;
    border-style: solid;
    border-color: #eae5e5;
    border-width:medium;
    border-radius:25px;
    overflow:scroll;
    margin-top:2em;
}

.trackImg > img {
    border-radius:50%;
}

#weather {
    font-family: 'Gruppo', cursive;
    color: black;
    display:inline-block;
    text-align: center;
    margin-top:0;
    vertical-align:middle;
    height:110px;
    max-width:100%
}

#weather * {
    display:inline-block;
}

#location {
    font-weight:bold;
    font-size:18px;
    margin-top:15px;
    border-style: solid;
    border-color:#f2f2f2;
    border-radius:20px;
    border-width:medium;
}

#curWeather {
    display:inline-block;
    font-weight:bold;
    letter-spacing:2px;
    
}

.forecastSym > img {
    border-radius:50%;
    width:2.5em;
    height:2.5em;
}

.forecast {
    font-weight:bold;
    letter-spacing:1px;
    text-align: center;
    vertical-align: middle;
    line-height:1em;
    margin-top:1em;
    margin-left:2em; 
    background-color:#eae5e5;
    border-radius:30px;
}

#blogCont {
    border-style: solid;
    border-color: #eae5e5;
    border-width:medium;
    font-family: 'Gruppo', cursive;
    font-weight:900;
    color:#0b244c;
}

#chart {
    height:325px;
    float:right;    
    overflow:scroll;
}

#chart > h3 {
    padding-left:35%;
    font-family: 'Gruppo', cursive;
    letter-spacing:2px;
    color: black;
}

.trackImg {
    display:inline;
    padding-left:100px;
}

#musicContentErr
{
    font-family: 'Gruppo', cursive;
    font-size:18px;
    letter-spacing:2px;
    font-weight: 500;
    margin-top: 5em;
    margin-left:5em;
}


.trackDesc {
    margin-top:10px;
    display:inline-block;
    margin-left: 2em;
    font-family: 'Gruppo', cursive;
    font-size:18px;
    letter-spacing:2px;
    font-weight: 500;
    color: black;
    border-top-style:solid;
    border-bottom-style:solid;
    border-color:gray;
    border-width:thin;
    width:50%;
    text-align: center;
    vertical-align: middle;
    line-height:40px;
}

.hitNumber{
    display:inline-block;
    border-radius:50%;
    width:3em;
    height:3em;
    background-color:black;
    color:white;
    font-weight:900;
    text-align: center;
    vertical-align: middle;
    line-height:40px;
}

#todoContent {
    width:100%;
    font-family: 'Gruppo', cursive;
    font-weight:900;
}

#todoContent > tbody > th {
    font-weight:bold;
    letter-spacing:1px;
}


#addBtn {
    font-size:2em;
    text-align:text-top;
}

#addToList {
    visibility:hidden;
}

#addToBlog {
    position:fixed;
    left:0;
    bottom:0;
    font-size:18px;
}

#blogData {
    overflow:scroll;
}
 
